<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">JobFair</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/fairPacks">Fair Packs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/companies">Companies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/jobOpening">Add Job Opening</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > On Right</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" *ngIf="_authService.loggedIn() && _authService.getUserType() === 1">Student Profile</a>
        <a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
        <a class="dropdown-item" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register">Register</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    <!--
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">            Dropdown on Right</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item">Action</a>
        <a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
      </div>
    </li>
    -->
  </ul>
</nav>
<router-outlet></router-outlet>
